<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Thank you https://hidutil-generator.netlify.app/ -->
<!-- Place in ~/Library/LaunchAgents/ -->
<!-- launchctl load com.stevekehlet.RemapLeftCommandToRightCommand.plist -->
<!--
You might wonder why I would want to do this. There is an annoying bug/issue
with the web version of Microsoft Outlook that causes the new email editor to
lose focus if you move back words (e.g., option-left) and then hit command. For
whatever reason, left-command is affected but not right-command. So as a major
WTF, just remap left-command to right-command.
-->
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.stevekehlet.RemapLeftCommandToRightCommand</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/hidutil</string>
        <string>property</string>
        <string>--set</string>
        <string>{"UserKeyMapping":[
            {
              "HIDKeyboardModifierMappingSrc": 0x7000000E3,
              "HIDKeyboardModifierMappingDst": 0x7000000E7
            }
        ]}</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>